*{
	padding:0;
	margin:0;
}

body{
	background-color:DodgerBlue;
	color: white;
}

a {
	color:white;
	padding:25px;
}

a:hover{
	color: rgba(0,0,0,.5);
}

h1{
	text-align: center;
	padding: 50px 0 15px 0;
	font-size: 38px;
}

.search-box {
	padding: 5px;
	width: 200px;
	display:table;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-size: 24px;
	background-color: transparent;
	border: 2px solid white;
	color:white;
	transition: all .3s ease;
}

.search-box:hover {
	width: 220px;
}

.search-box:focus {
	width: 220px;
}

.search-button {
	margin-top: 25px;
	padding: 5px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: 2px solid white;
	background: transparent;
	color: white;
	font-size: 24px;

}


.result-container {
	border: 2px solid white;
}

.results-h2 {
	font-size: 36px;
	padding-left: 50px;
}
.result-container h3 {
	font-size: 30px;
	padding-left: 50px;
}

.result-container img {
	padding-top: 25px;
}

.result-container p {
	font-size: 20px;
	display: inline-block;
	width:200px;
}

.result-container h4 {
	font-size: 20px;
	padding-left:50px;
	padding-top: 15px;
}
